 *{
      margin:0;
      padding: 0;
      box-sizing:border-box;
    }
     
    
    .container{
      display:flex;
      gap:1rem;
      background-color: rgb(234, 246, 255);
      backdrop-filter: blur(10px);
      text-align:center;
    }
    nav ul li{
      list-style: none;
      display: inline;
      margin: 0 1rem;
    }

    nav ul{
      margin-left: auto;
    }
    nav ul li a{
      text-decoration: none;
      color:navy;
    }
  
    nav{
      position:sticky;
      width:100%;
      padding-top: 1rem;
      
    } 

    nav img{
      width: 7%;
      
    }

   .about-hero{
    display: flex;
    margin-top: 2rem;
    
   }
   .about-hero-texts{
    width: 55%;
   }
   .about-hero-image{
    width: 45%;
    margin: auto;
   }
   .about-hero-image img{
    display: block;
    width: 85%;
   
   }